<!doctype html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title 'Placeholder UI' %}</title>
  </head>
  <body>
      {% block body %}
          <div class="container-fluid">
              {% block content %}
              {% endblock %}
          </div>
      {% endblock %}
      {% block javascripts %}
          {% block importmap %}{{ importmap('app') }}{% endblock %}
      {% endblock %}
  </body>
</html>
