<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Component{% endblock %}</title>
    {% block style %}{% endblock %}
    <style>
        #component-wrapper {
            padding: 1em;
            display: table-cell;
        }
    </style>
</head>
<body>
{% block body %}
    <div id="component-wrapper">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

    {% for format, url in urls %}
        <a href="{{ url }}">{{ format }}</a>
    {% endfor %}

{% if render_svg|default(false) %}
    {# https://github.com/zumerlab/snapdom?tab=readme-ov-file #}
    <script src="https://unpkg.com/@zumer/snapdom@latest/dist/snapdom.min.js"></script>
    <script>
        addEventListener('load', async() => {
            const el = document.querySelector('#component-wrapper');
            const result = await snapdom(el, { scale: 1 });
            const blob = await result.toBlob(el);

            const svg = document.createElement('div')
            svg.id = 'svg'
            svg.innerHTML = await blob.text()
            el.parentNode.insertBefore(svg, el);
        });
    </script>
{% endif %}
</body>
</html>
