<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Component{% endblock %}</title>
    {% block style %}{% endblock %}
    <style>
        #{{ component_wrapper_id }} {
            display: table-cell;
            {% block component_wrapper_style '' %}
        }
    </style>
</head>
<body>
{% block body %}
    <div id="{{ component_wrapper_id }}">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% for format, url in urls|default([]) %}
    <a href="{{ url }}">{{ format }}</a>
{% endfor %}
</body>
</html>
